* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #34495e;
  --foreground-color: #ecf0f1;
}

[data-theme="dark"] {
  --background-color: #ecf0f1;
  --foreground-color: #2c3e50;
}

.body {
  font-family: "Open-Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition: 0.5s;
}

.app-container {
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  transition: 0.5s;
}

.notfoundpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 22vw;
  height: 100vh;
  width: 100%;
}

.home-page { 
  margin: 0px 10px 0px 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.detail-page {
  margin: 0px 10px 0px 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 75vw;
}

.talk-reply-input {
  margin-top: -8vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.talk-reply-input textarea{
  padding: 10px;
  height: 50px;
  background-color: var(--foreground-color);
  color: var(--background-color);
  border-radius: 5px;
  transition: 0.5s;
}

.talk-reply-input textarea::placeholder{
  color: var(--background-color);
}

.talk-reply-input p {
  align-self: flex-end;
}

.talk-reply-input button {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--foreground-color);
  color: var(--background-color);
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.talk-detail {
  margin: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.talk-detail header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--foreground-color);
}

.talk-detail article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--foreground-color);
}
.talk-detail footer {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid var(--foreground-color);
}

.talk-detail__like button{
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: var(--foreground-color);
  cursor: pointer;
}

.talk-detail__like button:hover{
  color: #e74c3c;
}

.talk-detail__created-at {
  margin: 10px;
  font-size: 12px;
  white-space: nowrap;
}

.talk-detail img {
  margin: 10px;
  border-radius: 50%;
}

.talk-detail__user-id {
  font-size: 12px;
}

.talk-detail__text {
  padding: 10px;
}

.talk-input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.talk-input input::placeholder {
  color: var(--foreground-color);
}

.talk-input .talk-item input {
  padding: 8px;
  border: 1px solid var(--foreground-color);
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: 5px;
  width: 100%;
  transition: 0.5s;
}

.talk-input .talk-item textarea{
  font-family: 'Open Sans',sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 8px;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.talk-input .talk-item textarea::placeholder{
  color: var(--foreground-color);
}

.talk-input .talk-item button {
  padding: 8px;
  border-radius: 5px;
  background-color: var(--foreground-color);
  color: var(--background-color);
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.talk-input__char-left{
  padding: 5px;
  align-self: flex-end;
}

.talks-list {
  margin-bottom: 30px;
}

.talk-item {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 20px var(--foreground-color);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.talk-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}

.talk-item:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}

.talk-item .content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px solid #f0a591;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  z-index: 1;
}

.talk-item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  pointer-events: none;
}

.talk-item span:nth-child(1) {
  transform: rotate(0deg);
}

.talk-item span:nth-child(3) {
  transform: rotate(180deg);
}

.talk-item span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #3498db;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}


.talk-item__user-photo img {
  padding: 10px;
  border-radius: 50%;
}

.talk-item__detail {
  width: 100%;
  padding: 10px;
}

.talk-item__detail article{
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word; 
  text-align: justify;
}

.talk-item-created-at {
  padding: 10px;
  text-align: right;
}

.updownvote {
  display: flex;
  flex-direction: row;
}

.updownvote button {
  margin-top: 10px;
  color: var(--foreground-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.updownvote button:hover{
  color: #e74c3c;
}

.updownvote p {
  margin: 5px;
}

.loading {
  position: sticky;
  top: 0;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 100vh;
  background-color: var(--background-color);
  padding: 3px;
  box-shadow: 1px 0 20px var(--foreground-color);
  transition: 0.5s;
}

.navigation nav:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.navigation .active nav{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.navigation nav {
  padding: 10px;
  background-color: var(--background-color);;
  color: var(--foreground-color);
  text-align: center;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}

.navigation .talk-item {
  width: 100%;
}
.navigation .talk-item a {
  width: 100%;
  text-decoration: none;
}

.navigation img {
  border-radius: 50%;
  width: 75%;
  box-shadow: 1px 0 20px var(--foreground-color);
}

.nav-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--foreground-color);
}

.button-style {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button-style button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}

.theme-button button{
  width: 100%;
  background-color: transparent;
  color: var(--foreground-color);
  border: none;
  font-size: 30px;
}

.signout-button button{
  width: 100%;
  background-color: transparent;
  color: var(--foreground-color);
  border: none;
  box-shadow: 10px 0 20px var(--foreground-color);
}


.login-page,
.register-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.login-page__hero,
.register-page__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 25vw;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.login-page__main,
.register-page__main {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--foreground-color);
  color: var(--background-color);
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.login-page__main .logintheme button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 20px;
  background-color: var(--background-color);
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--foreground-color);
  border-radius: 50%;
  transition: 0.5s;
}

.login-page__main .logintheme button:hover{
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.login-page__main h2,
.register-page__main h2 {
  font-weight: 300;
  font-size: 2em;
}

.login-page__main p,
.register-page__main p {
  margin-top: 0.5em;
  padding: 0 2px;
  font-family: "Open Sans", sans-serif;
}

.login-page__main a,
.register-page__main a {
  color: var(--background-color);
  margin-top: 0.5em;
  padding: 0 2px;
  font-family: "Open Sans", sans-serif;
  transition: 0.5s;
}

.login-input input,
.register-input input {
  display: block;
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--foreground-color);
}

.login-input button,
.register-input button {
  margin-top: 1em;
  width: 100%;
  padding: 12px 8px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 850px) {
  .login-page,
  .register-page {
    flex-direction: column;
  }
  .login-page__hero,
  .register-page__hero {
    font-size: 25vh;
  }
}
